<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
        <p style = "background-color:blue; text-color:white"> Hello </p>
    </head>
    <body>
        <!-- the content goes here -->
    </body>
</html>